@import "mixins";
@import "variables";

/* Set default body */
html{
	min-height: 100%;
}

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-between;
	color: $general-font-color;
	font-family: $general-font-family;
	padding: 0 !important;
	margin: 0 !important;
	font-weight: 400;
	line-height: 1.7;
	font-size: $general-font-size;
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}

pre {
	background-color: inherit;
	border: none;
	border-radius: 0;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

a {
	outline: none !important;

	-webkit-transition: back 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
}

a:focus,
a:hover,
a:active {
	outline: none !important;
	text-decoration: none;
}

a[disabled="disabled"] {
	pointer-events: none;
}

.strong {
	font-weight: 700;
}

button:active,
button:focus {
	outline: none;
}

/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, and thus doesn't 
 properly apply the media queries in Bootstrap's CSS. To address this, 
 you can optionally include the following CSS and JavaScript to work around this problem until Microsoft issues a fix.
*/

@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, 
 and thus doesn't properly apply the media queries in Bootstrap's CSS. To address this, following CSS code applied 
*/

@-ms-viewport {
	width: auto !important;
}

// Titles 

h6 {
	color: $general-head-font-color;
	font-size: 12px;
	margin: 5px 0;
}

h5 {
	color: $general-head-font-color;
	font-size: 14px;
	margin: 7px 0;
}

h4 {
	color: $general-head-font-color;
	font-size: 16px;
	margin: 8px 0;
}

h3 {
	color: $general-head-font-color;
	font-size: 18px;
	margin: 10px 0;
}

h2 {
	color: $general-head-font-color;
	font-size: 20px;
	margin: 10px 0;
}

h1 {
	color: $general-head-font-color;
	font-size: 22px;
	margin: 10px 0;
}

// General Classes

.c-reset {
	padding: 0;
	margin: 0;
}

.c-hide {
	display: none;
}

.c-overflow-hide {
	overflow: hidden;
}

/* linkify buttons */
.c-link {
	background: 0;
	border: 0;
	outline: none;
}

.c-border {
	border: 1px solid $general-border-color;
}

.c-border-thick {
	border: 2px solid $general-border-color;
}

.c-border-top {
	border-top: 1px solid $general-border-color;
}

.c-border-right {
	border-right: 1px solid $general-border-color;
}

.text-center {
	text-align: center;
}

.preload-block {
	width: 280px;
	text-align: center;
	margin: 0 auto 40px auto;

	img {
		width: 100%;
	}
}

.c-border-bottom {
	border-bottom: 1px solid $general-border-color;
}

.c-border-left {
	border-left: 1px solid $general-border-color;
}

.c-no-border {
	border: 0 !important;
}

.c-shadow {
	box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.3);
}

.c-square {
	@include border-radius(0);
}

.c-rounded{
	@include border-radius(10px);	
}

.section-guide {
	margin-bottom: 20px;
}

.main-container {
	width: 100%;
	max-width: $generalWidth;
	margin: 0 auto;
	padding: 0 15px;

	&--top {
		margin-top: $container-top;
	}

	&--purchase {
		max-width: $purchaseWidth;
	}

	&--middle {
		max-width: $middleWidth;
	}

	&--small {
		max-width: $smallWidth;
	}

	&--collapse-padding {
		padding: 0 15px;
	}

	&--test-inner {
		margin-top: 30px;
	}

	&--admin-guide {
		display: flex;
		justify-content: space-between;
	}

	&--no-margin {
		margin: 0;
	}

	&--blog {
		overflow: hidden;
	}

	&--relative {
		position: relative;
	}

	&--affilate {
		padding: 0 45px;
	}
}

#error-from-js-block {
	max-width: 720px;
	margin: 0 auto;
}

// BEGIN PAGE CONTAINER

.c-layout-page {
	width: 100%;
	min-height: 100%;
	@include clearfix();
	background-color: #fff;
}

.c-layout-page-loading {
	* {
		visibility: hidden;
	}

	.c-content-loader {
		visibility: visible;
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
	}
}

.sec-main {
	padding: 75px 0;
	background-color: #fff;
}

.sec-main--top {
	padding-top: 100px;
	background: $bg-color;
}

.sec-main--green {
	background: $green;
	color: white;
	font-weight: 600;
}

.alert {
	padding: 5px 15px;
}

.alert-danger {
	color: $warningColor;
	background-color: #f2dede;
	border-color: $warningColor;
	text-align: left;
	font-size: 16px;
	padding-left: 42px;
	background-repeat: no-repeat;
	background-position: 18px 12px;
	background-size: 14px 14px;
	background-image: url(/dist/img/purchase/error-purchase-icon.svg);
}

.affilate-footer {
	width: 100%;
	float: left;
	margin-top: 80px;
	padding: 80px 0 80px 0;
	text-align: center;
	background-color: $superlightPrimary;
	margin-bottom: -$footer-top;

	&__h3 {
		margin-bottom: 45px;
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		line-height: 1.3;
	}
}

@keyframes progresspollgraph {
	0% { width: 0; }
}

.disable-slider-label {
	color: $disabled-dark !important;
}

.product-url {
	color: $link-hover;
	font-weight: bold;

	.context_selection {
		color: $color-text;
	}
}

.create-accaunt__https {

	.context_selection {
		color: $gereralText;
	}
}

.create-accaunt__build-name {

	.context_selection {
		color: $gereralText;
	}
}

.success-key__title {

	.context_selection {
		color: $gereralText;
	}
}

.h2-affilate {
	text-align: left;
	margin-bottom: 40px;
	font-size: 28px;
	font-weight: 300;
	line-height: 1.3;
}

a:focus {

}

.retina-image {
	max-width: 100%;
}

.affilate-item {
	margin-top: 15px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), /* для Safari, Safari IOS */
only screen and (min-resolution: 192dpi), /* для IE 10, IE 11, Opera Mini */
only screen and (min-resolution: 2dppx) { /* для нормальных браузеров */
	.retina-image {
		max-width: 100%;
	}
}


// WEBPACK FOOTER //
// ./app/Sites/AT/assets/scss/_base.scss