.footer {
	margin-top: $footer-top;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: $backgroundDark;

	&__purchase {
		margin-top: 50px;
	}

	li {
		list-style: none;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}

	&__menus {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0;
	}

	&__wrapper-menu {
		padding: 75px 0 75px 0;
	}

	&__title-menu {
		font-size: 17px;
		font-weight: 600;
		color: $footer-items;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 110px;
		border-top: 1px dashed $soc-color;
	}

}

.footer-purchase {
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	color: $footer-items;
	font-weight: 400;

	&__item {
		padding: 5px 0;

	}

	&__link {
		color: $footer-items;
		text-decoration: underline;

		&:hover {
			color: $footer-items;
			text-decoration: none;
		}
	}
}

.footer-menu {
	margin: 0;
	padding: 0;

	&__link {
		line-height: 2.5;
		font-size: 15px;
		font-weight: 400;
		color: $footer-items;

		&:hover {
			color: #fff;
		}

		&:focus {

		}
	}
}

.social {
	margin: 0;
	padding: 0;

	&__network {
		display: inline-block;
		height: 40px;
		margin: 25px 0 35px 0;
		padding: 0;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		margin-right: 8px;
		text-align: center;
		line-height: 55px;
		border-radius: 50px;
		font-size: 16px;
		background-color: #acb4bd;
		color: $soc-color;

		&:hover {
			color: #fff;
		}

		&:focus {

		}
	}
}

.copyright {
	height: 30px;
	padding: 0;
	line-height: 30px;
	text-align: right;

	p{
		margin: 0;
	}

	&__li {
		display: inline-block;
	}

	&__link {
		padding-right: 10px;
		font-size: 14px;
		font-weight: 400;
		color: #b9c4cf;

		&:hover {
			color: #fff;
		}

		&:focus {

		}
	}

	&__info {
		font-size: 14px;
		font-weight: 400;
		color: #b9c4cf;
	}
}