
body {
  padding-top: 54px;
  background: whitesmoke;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.nav-select{
  margin: 10px 10px;
}

#contact_information{
  margin-left: 20%;
  width: 70%;
}

#signInForm{
  padding: 5% 2% 2%;
  float: right;
  width: 30%;
}

#userRegistrationForm{
  padding: 5% 10%;
}

#driverRegistrationForm{
  width: 100%;
}

#driverRegistrationForm td{
  padding: 0 5%;
}

#driverRegistrationForm th{
  padding-left: 5%;
}

#getCarForm{
  padding: 10%;
}


#myOrdersTable, #allUsersTable, #allCarsTable, #currentOrderTable{
  margin-top: 5%;
  margin-bottom: 5%;
}


#contactTable td{
  padding-right: 10px;
  text-align: justify;
}

.btn-default{
  background-color: lightgrey;
  color: black;
}

.btn-default:hover{
  cursor: pointer;
  background-color: lightskyblue;
}

.nav{
  padding-top: 2%;
}
.nav-tabs a{
  color: black;
  background-color: lightblue;
  margin-right: 5px;
}

.nav-tabs a:hover{
  background-color: lightgreen;
}


.main-container {
	width: 100%;
	max-width: $generalWidth;
	margin: 0 auto;
	padding: 0 15px;

	&--top {
		margin-top: $container-top;
	}

	&--purchase {
		max-width: $purchaseWidth;
	}

	&--middle {
		max-width: $middleWidth;
	}

	&--small {
		max-width: $smallWidth;
	}

	&--collapse-padding {
		padding: 0 15px;
	}

	&--test-inner {
		margin-top: 30px;
	}

	&--admin-guide {
		display: flex;
		justify-content: space-between;
	}

	&--no-margin {
		margin: 0;
	}

	&--blog {
		overflow: hidden;
	}

	&--relative {
		position: relative;
	}

	&--affilate {
		padding: 0 45px;
	}
}


