.header {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 65px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(40, 61, 84, 0.6);
    z-index: 101;
    transition: 0.2s;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1230px;
        padding: 0 15px;
        position: relative;
    }

    &__logo {
        display: block;
        width: 155px;
        height: 40px;
        background-image: url("resources/img/logo.png");
        background-repeat: no-repeat;
        background-position: left center;
        transition: 0.2s;
    }

    &__item {
        margin-right: 125px;
    }
}

.header__logo {
    display:block;
    width:269px;
    height:40px;
    background-image:url("../img/logo.png");
    background-repeat:no-repeat;
    background-position:0;
    -webkit-transition:.2s;
    -o-transition:.2s;transition:.2s
}

.main-menu {
    position: static;

    &__ul {
        margin: 0;
        padding: 0;
        text-align: right;
        font-size: 0;
    }

    &__item {
        display: inline-block;
        padding: 17px 0;
        font-size: 0;
        position: relative;
    }

    &__link {
        display: inline-block;
        padding: 0 18px;
        border-radius: 4px;
        line-height: 30px;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        transition: 0.2s;

        &:hover {
            color: #fff;
            background-color: rgba(35, 54, 76, 0.4);
        }

        &--active {
            color: #fff;
            background-color: rgba(35, 54, 76, 0.7);

        }

        &:focus {

        }
    }

    &__item--parent {

        .main-menu__link {
            padding: 0 28px 0 19px;
            margin: 0 8px;
        }

        &:hover {

            .sub-menu {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__item--parent:after {
        content: "";
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 30px;
        right: 19px;
        background-image: url("/dist/img/arrow-dowm-menu.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 5px;
    }

    &__click-adaptive {
        display: none;
    }
}

.sub-menu {
    position: absolute;
    top: 64px;
    left: 8px;
    padding: 7px 10px 6px 10px;
    background-color: rgba(98, 113, 130, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    text-align: left;
    list-style: none;
    z-index: 99;

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: transparent;
    }

    &__li {
        display: flex;
        width: 100%;
    }

    &__item {
        padding: 0;
    }

    &__link {
        width: 100%;
        padding: 7px 10px 6px 10px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        white-space: nowrap;

        &:hover {
            color: #fff;
            background-color: rgba(35, 54, 76, 0.4);
        }

        &--active {
            color: #fff;
            background-color: rgba(35, 54, 76, 0.4);
        }

        &:focus {

        }
    }
}

.last-menu {


    &__li {

    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        transition: 0.2s;

        &:hover {
            color: #fff;
        }
    }
}

.purchase-steps {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #fff;

    &__step {
        display: flex;
        align-items: center;
        padding-right: 65px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 9px;
            right: 22px;
            width: 24px;
            height: 10px;
            //background-image: url("/dist/img/purchase/arrow-purchase.svg");
            //background-repeat: no-repeat;
            //background-position: center;
            //background-size: 100%;
        }

        &:last-child {
            padding-right: 0;

            &:after {
                display: none;
            }
        }
    }

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        margin-right: 15px;
        border-radius: 14px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: transparent;
        border: 1px solid;
    }

    &__number--active {
        background-color: #fff;
        border: 1px solid #fff;
        color: $active-icon;
    }

    &__name {
        font-size: 17px;
        font-weight: 400;
        //color: $color-title;
    }
}


//Стили при скроле
.header--small {
   background-color: rgba(58,77,98,0.9);

    .main-menu__link--active {
        background-color: rgba(35, 54, 76, 1);
    }

    .main-menu__link:hover {
        background-color: rgba(35, 54, 76, 0.6);
    }

    .sub-menu__link:hover {
        background-color: rgba(35, 54, 76, 0.6);
    }
}

.burger {
    display: none;
    width: 28px;
    height: 19px;
    position: relative;
    align-items: center;
    justify-content: center;

    &__line {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: 0.2s;
    }

    &:before{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 3px;
         background-color: #fff;
         transition: 0.2s;
    }

    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: 0.2s;
    }
}


.preload * {
    -webkit-transition: all 0s linear !important;
    -moz-transition: all 0s linear !important;
    -ms-transition: all 0s linear !important;
    -o-transition: all 0s linear !important;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.button-select {
    display: inline-block;
    height: 29px;
    padding: 0 30px;
    line-height: 27px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #35810b;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
     text-transform: uppercase;
    color: #fff;
    background-color: #65b325;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

language{
    font-size: 20px;
}

.scss